* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

body header {
  padding: 1rem;
  background-color: #000000;
  text-align: center;
  color: #fff;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* llena sin deformar, recortando */
  display: block; /* evita espacios fantasma */
}

.info {
  display: flex; /* fila automática */
  gap: 8rem;
  background: #000;
  color: #fff;
  padding: 4rem;
}

.info .text {
  align-content: center;
  padding-left: 2rem;
}

.info img {
  height: 300px;
  width: 600px;
  object-fit: cover; /* llena sin deformar, recortando */
  border-radius: 4px; /* opcional: esquinas suaves */
}

.features {
  text-align: center;
  padding: 5rem 0 5rem 0;
  background: #1b1815; /* fondo oscuro */
  color: #fff;
}

.features h2 {
  font-size: 30px;
  margin-bottom: 5rem;
  letter-spacing: 2px;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
  gap: 2rem; /* espacio entre columnas y filas */
  margin: 2rem auto;
  padding: 0 10rem 0 10rem;
}

.feature i {
  font-size: 56px; /* tamaño del ícono */
}

.gallery {
  display: flex;
  justify-content: center; /* centra horizontalmente */
  gap: 3rem; /* espacio entre imágenes */
  background: #000000; /* fondo oscuro */
  padding: 3rem 0; /* espacio arriba y abajo */
}

.gallery img {
  width: 400px; /* ancho fijo */
  height: 250px; /* alto fijo */
  object-fit: cover; /* recorta sin deformar */
  display: block;
  border-radius: 4px; /* opcional: esquinas suaves */
}

.footer {
  text-align: center;
  padding: 1rem;
  background: #1b1815; /* fondo oscuro */
  color: #fff;
  font-size: 14px;
}
